.cart{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1000px;
    height: 500px;

}
.cart a:link{text-decoration: none;color: #d39e00}
.cart a:visited{text-decoration: none;color: #d39e00}
.cart a:hover{text-decoration: none;color: #007bff}
.summary{
    float:right;
    padding: 15px;
}
.small-image{
    width: 25px;
    height: 35px;
}
.buy{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 40px;
    text-align: center;
}

.txt{
    font-size: 25px;
}
.money{
    font-size: 30px;
    color: red;
}

.page{
    margin-left: auto;
    margin-right: auto;

}