
.search{
    margin-left: auto;
    margin-right: auto;
}

.main_title{
    padding-top: 30px;
    color: #009688;
}

.grid{
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.book{
    margin-bottom: 10px;
    width: 160px;
    height: 320px;
    /*align-content: center;*/
    /*background-color: whitesmoke;*/
}

.img{
    margin:5px auto 0 auto;
    width: 170px;
    height: 238px;

}
.card-body1{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 8px;
    padding-right: 8px;
}
.author{
    text-align: justify;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.b-title{
    font-size: 16px;
    text-align: justify;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.page{
    margin-top: 20px;
    justify-content:center;
}
/*.page{*/
    /*width: auto;*/
    /*height: auto;*/
    /*text-align:center;*/
/*}*/
.book a:link {color:#0b2e13;text-decoration:none;}
.book a:visited {color:#0b2e13;text-decoration:none;}
.book a:hover {color:#ff7e50;text-decoration:none;}
.book a:active {color:#ff7e50;text-decoration:none;}

.page a:link {color: #bd2df5;text-decoration:none;}
.page a:visited {color: #bd2df5;text-decoration:none;}
.page a:hover {color: #ff7e50;text-decoration:none;}
.page a:active {text-decoration:none;}


